body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
button{
    background: rgb(75, 158, 241);
    border-radius: 15px;
    color: white;
}
.copy{
    background: rgb(118, 244, 76);
}