<!DOCTYPE html>
<html>
<head>
    <title>ShortLink | Fast URL Shortener</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <h1 class="logo">🚀 ShortLink</h1>
    <p class="tagline">Fast, simple URL shortening</p>
    <h2>🔗 Shorten your url</h2>

    <form id="shorten-form">
        <input type="text" id="url" placeholder="Enter URL" required />
        <button type="submit">Shorten</button>
    </form>

    <p id="result"></p>

    <script>
        const form = document.getElementById("shorten-form");
        function copyToClipboard(url) {
            navigator.clipboard.writeText(url)
                .then(() => {
                    const btn = document.getElementById("copy");
                    btn.classList.add("copy");
                    btn.innerHTML = "Copied!";
                })
                .catch(err => {
                    console.error("Failed to copy: ", err);
                });
        }

        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            document.getElementById("result").innerHTML = "Processing your request";
            const url = document.getElementById("url").value;

            const response = await fetch("/api/shorten/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ original_url: url })
            });

            const data = await response.json();

            if (data.short_url) {
                document.getElementById("result").innerHTML = `
                    <a href="${data.short_url}" target="_blank">${data.short_url}</a>
                    <button id="copy" onclick="copyToClipboard('${data.short_url}')">Copy</button>
                `;
            } else {
                document.getElementById("result").innerText =
                    "Error shortening URL (Enter a valid URL, example -> URL should start with http/https)";
            }
        });
    </script>
    <p class="footer">
    Built by Gaurang • Backend Project
</p>
</body>
</html>